<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"><title>Models</title></head>
<body>
<div th:replace="fragments/header">Navbar</div>
<div class="container mt-3">
    <h1>Users</h1>
    <div class="row">
        <div class="col-md-8"> <!-- Указываем больший размер колонки -->
            <div class="list-group"> <!-- Используем класс list-group для отображения в виде списка -->
                <a th:each="user : ${users}" th:href="@{/users/getAll}" class="list-group-item list-group-item-action">
                    <h5 th:text="${user.username}" class="mb-1"></h5> <!-- Используем класс mb-1 для отступа между элементами списка -->
                    <h5 th:text="${user.imageUrl}" class="mb-1"></h5>
                    <h5 th:text="${user.firstName}" class="mb-1"></h5>
                    <h5 th:text="${user.lastName}" class="mb-1"></h5>
                    <h5 th:text="${user.active}" class="mb-1"></h5>
                    <h5 th:text="${user.role.role}" class="mb-1"></h5>
                    <!--                    <a th:href="@{/models/getAll/{brandId}(brandId=${brand.id})}" class="btn btn-primary btn-sm">About</a> &lt;!&ndash; Используем класс btn-sm для меньшего размера кнопки &ndash;&gt;-->
<!--                    <a th:href="@{/users/update/{id}(id=${user.id})}" class="btn btn-primary btn-sm">Update</a>-->
<!--                    <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-primary btn-sm">Delete</a>-->
                </a>
            </div>
        </div>
<!--        <div class="col-md-4"> &lt;!&ndash; Добавляем новую колонку для кнопки 'Add new Brand' &ndash;&gt;-->
<!--            <a th:href="@{/users/add}" class="btn btn-primary d-block mt-3">New User</a> &lt;!&ndash; Используем класс d-block и mt-3 для размещения кнопки сбоку &ndash;&gt;-->
<!--        </div>-->
    </div>
</div>
<!--<footer th:replace="~{fragments/footer}"></footer>-->
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>